html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(0, 0, 0, 0.12);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 5rem;
}

input[type="range"],
input[type="checkbox"],
input[type="radio"] {
  accent-color: #6c63ff;
}
